{% extends 'base.html' %}

{% block content %}
<div class="curved">


    {% include 'navbar.html' %}
    <div class="container">
        <div class="row text-center g-4 p-5">
            <div class="col-md">
                <br /><br /><br /><br /><br /><br />
                <h1>Hello! I am Sage!</h1>
                <p>Your personal Twitter Bot and online friend :)
                    <br />I can help you find out what people tweet about!<br />I was created as a fun project by
                    @ackermanhisashi uWu
                </p>

            </div><br />
            <div class="col-md">
                <img src="{{ url_for('static', filename = 'img/sage.png')}}" width="300px">

            </div>

        </div>
    </div>


    <center>
        <br /><br /><br /><br />
        <h3 class="my-text">See what these accounts are talking about</h3>
        <section class="p-5">
            <div class="container">
                <div class="row text-center g-4">
                    <div class="col-md">
                        <div class="my-card-body">
                            <div class="imgBx">
                                <img src="{{ url_for('static', filename = 'img/fab.jpg')}}">
                            </div>
                            <div class="content">
                                <div class="details">
                                    <div class="tweets-data">
                                        <p>Recently, Fabrizio mostly talks about</p>
                                        <p><span class="tweet-topics">Chelsea</span>
                                            <span class="tweet-topics">United</span><br />
                                            <span class="tweet-topics">Juventus</span>
                                            <span class="tweet-topics">Tottenham</span><br />
                                            <span class="tweet-topics">De Jong</span>
                                            <span class="tweet-topics">Ronaldo</span>
                                        </p>


                                    </div>
                                    <img src="{{ url_for('static', filename = 'img/twitter.png')}}" width="50px">
                                    <h5 class="my-text2">@fabrizioromano</h5>
                                    <div class="data">
                                        <h5 class="red">20k<br /><span>Tweets</span></h5>
                                        <h5 class="red">560k<br /><span>Followers</span></h5>
                                    </div>
                                </div>

                            </div>
                        </div>

                    </div><br />
                    <div class="col-md">
                        <div class="my-card-body">

                        </div>
                    </div>
                    <div class="col-md">
                        <div class="my-card-body">

                        </div>
                    </div>
                </div>
            </div>
        </section>

    </center>

    <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 1440 319">
        <path fill="#fff" fill-opacity="1"
            d="M0,128L48,154.7C96,181,192,235,288,250.7C384,267,480,245,576,202.7C672,160,768,96,864,101.3C960,107,1056,181,1152,229.3C1248,277,1344,299,1392,309.3L1440,320L1440,320L1392,320C1344,320,1248,320,1152,320C1056,320,960,320,864,320C768,320,672,320,576,320C480,320,384,320,288,320C192,320,96,320,48,320L0,320Z">
        </path>
    </svg>

</div>


<!-- Boxes -->






<div class="container">
    <br />
    <form method="POST">
        {{ form.hidden_tag() }}
        {{ form.username.label}}
        {{ form.username() }}

        {{ form.email_id.label}}
        {{ form.email_id() }}


        <br />
        {{ form.submit() }}

        <br /><br /><br />
        <h3>Current users:</h3>
        <br />
        <table>
            {% for website_user in website_users %}
            <tr>
                <td>{{ website_user.id }}-{{website_user.name}}</a>-{{ website_user.email }}</td>
            </tr>
            {% endfor %}
        </table>


    </form>
</div>
{% endblock %}